

div.enter-estate-container { 
margin-top:22%;
  display:flex;
 margin-left:65%;
 position:absolute;
width:12.5rem;
height:10rem;

 }
 
/* animations for background image */
@-webkit-keyframes pulseBox {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(225, 0, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0px 0px 18px 0px rgba(225, 0, 255, 1);
  }
}
@-moz-keyframes pulseBox {
  0% {
    -moz-box-shadow: 0px 0px 10px 0px rgba(225, 0, 255, 0.3);
  }
  100% {
    -moz-box-shadow: 0px 0px 18px 0px rgba(225, 0, 255, 1);
  }
}
@-o-keyframes pulseBox {
  0% {
    -o-box-shadow: 0px 0px 10px 0px rgba(225, 0, 255, 0.3);
  }
  100% {
    -o-box-shadow: 0px 0px 18px 0px rgba(225, 0, 255, 1);
  }
}
@keyframes pulseBox {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(225, 0, 255, 0.3);
  }
  100% {
    box-shadow: 0px 0px 18px 0px rgba(225, 0, 255, 1);
  }
}
/* class pulsebox for glowing border */
.pulseBox {
  -webkit-animation-name: pulseBox;
  -moz-animation-name: pulseBox;
  -o-animation-name: pulseBox;
  animation-name: pulseBox;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}
.cyber-button {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
width:100%;
  border: 1px solid var(--pink);

  background-color: rgba(158, 7, 223, 0.919); /* sets the opacity to 0.7 */
  background-image:url('../assets/newMap.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-size:225%;
  color: transparent; /* makes the text transparent */



  box-shadow: 0px 0px 20px 5px #ff0dcb;
  cursor:pointer;
}
.cyber-button-estates {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
width:100%;
  border: 1px solid var(--pink);

  background-color: rgba(158, 7, 223, 0.919); /* sets the opacity to 0.7 */
  background-image:url('../assets/enter-estate-background.png');
  background-size:cover;
background-position:center;
  background-repeat:no-repeat;


  color: transparent; /* makes the text transparent */



  box-shadow: 0px 0px 20px 5px #ff0dcb;
  cursor:pointer;
}
.cyber-button:hover, .cyber-button-estates:hover {
  box-shadow: 0px 0px 30px 10px var(--pink);
  animation: cyber-glow 2s infinite;
  color: rgba(0, 0, 0, 0.2);
  -webkit-text-stroke: 1px var(--pink);
  border: 1px solid var(--pink);
  border-radius: 10%;
  background-repeat: no-repeat;
}

@keyframes cyber-glow {
  0% {
    box-shadow: 0px 0px 10px 5px #ee0cb5;
  }
  50% {
    box-shadow: 0px 0px 30px 10px #ee0cb5;
  }
  100% {
    box-shadow: 0px 0px 10px 5px #ee0cb5;
  }
}

.enter-cyberverse {


    margin-top:22%;
      display:flex;
     margin-right:65%;
     position:absolute;
    width:12.5REM;
    HEIGHT:10REM;
    
}

a#playgameoutline:hover {
  animation: cyber-glow 2s infinite;
}

@media all and (max-width:40em){
.enter-cyberverse, div.enter-estate-container{
   width:25%;
   height:auto;

  }
  .cyber-button, .cyber-button-estates {
    font-size:x-small;
    box-shadow: 0px 0px 30px 10px var(--pink);
    animation: cyber-glow 2s infinite;
    color: rgba(0, 0, 0, 0.2);
    -webkit-text-stroke: 1px var(--pink);
    border: 1px solid var(--pink);
    border-radius: 10%;
    background-repeat: no-repeat;
  }

}